body {
  font-family: Arial, sans-serif;
  padding: 20px;
  margin: 0;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

form {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

input {
  padding: 10px;
  margin: 5px;
  width: 200px;
}

.search-input {
  padding: 10px;
  width: 250px;
  margin: 0 auto 20px;
  border: 1px solid #ccc;
  display: block;
}

button {
  padding: 10px;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

.divider {
  margin: 40px 0;
  border: none;
  border-top: 2px solid #ccc;
}

.list-section {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
}

.list-section h2 {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  margin: 10px 0;
  background-color: #fff;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li > button {
  margin-left: 10px;
}
